---
import { SITE } from 'astrowind:config';
---

<div class="flex items-center">
  <img
    src="/src/assets/favicons/favicon.svg"
    alt={SITE?.name || 'ChatGPT 一站式服务'}
    class="h-8 w-8 mr-2"
    width="32"
    height="32"
  />
  <span class="text-xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</div>
