---
import Layout from '~/layouts/Layout.astro';
import AnnouncementBanner from '~/components/widgets/AnnouncementBanner.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import FloatingCustomerService from '~/components/widgets/FloatingCustomerService.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  structuredDataType?: 'product' | 'faq' | 'all';
}

const { metadata, structuredDataType } = Astro.props;
---

<Layout metadata={metadata} structuredDataType={structuredDataType}>
  <AnnouncementBanner />
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed={false} showToggleTheme={false} />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
  <!-- 悬浮客服按钮 -->
  <FloatingCustomerService />
</Layout>
